## Build Results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
publish/
publish-standalone/
publish-v2/

## Visual Studio & Rider
.vs/
.idea/
*.user
*.suo
*.userosscache
*.sln.docstates

## OS Generated
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
